<header id="hd">
  <img class="header-image" src="../assets/Images/hd-bg.jpg">
  <nav class="navbar navbar-expand-xl navbar-light" style="padding-top: 1.5%;">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Experience</a>
            <a class="dropdown-item" href="#">Tools</a>
            <a class="dropdown-item" href="#">Languages</a>
            <a class="dropdown-item" href="#">Skills</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="row container-fluid" style="margin-bottom:0px; padding-bottom:0px;">
    <div class="col-md-1">
      <ul class="first-nav-navbar">
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-facebook"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-instagram"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-twitter"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-slack"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-linkedin"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-quora"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-pinterest"></i></a></li>
        <li class="first-nav-item"><a class="first-nav-link"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="jumbotron text-center">
        <h1 class="display-1">I am Tarun Surana</h1>
        <h3 class="display-4">Frontend Software Engineer<br>&<br>UI/UX Designer</h3>
        <div class="arrow-btn" (click)="tofooter()" style="cursor: pointer;">
          <svg id="down-arrow" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill"
            fill="#f6f6f8" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <ul class="second-nav-navbar" style="position: fixed;">
        <li class="second-nav-item"><a class="second-nav-link" (click)=toHome()
            [routerLink]="['https://www.tarunsurana.co.in']">
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              <path fill-rule="evenodd"
                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toAbout()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-person"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
              <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toService()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wrench"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toProjects()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toExperience()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-star"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
              <path
                d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toTools()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tools"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M0 1l1-1 3.081 2.2a1 1 0 0 1 .419.815v.07a1 1 0 0 0 .293.708L10.5 9.5l.914-.305a1 1 0 0 1 1.023.242l3.356 3.356a1 1 0 0 1 0 1.414l-1.586 1.586a1 1 0 0 1-1.414 0l-3.356-3.356a1 1 0 0 1-.242-1.023L9.5 10.5 3.793 4.793a1 1 0 0 0-.707-.293h-.071a1 1 0 0 1-.814-.419L0 1zm11.354 9.646a.5.5 0 0 0-.708.708l3 3a.5.5 0 0 0 .708-.708l-3-3z" />
              <path fill-rule="evenodd"
                d="M15.898 2.223a3.003 3.003 0 0 1-3.679 3.674L5.878 12.15a3 3 0 1 1-2.027-2.027l6.252-6.341A3 3 0 0 1 13.778.1l-2.142 2.142L12 4l1.757.364 2.141-2.141zm-13.37 9.019L3.001 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toLanguages()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-right-dots-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toSkills()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shield-lock-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm.5 7.415a1.5 1.5 0 1 0-1 0l-.385 1.99a.5.5 0 0 0 .491.595h.788a.5.5 0 0 0 .49-.595L8.5 7.915z" />
            </svg>
          </a></li>
        <li class="second-nav-item"><a class="second-nav-link" (click)=toContact()>
            <svg class="second-icon" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-inbound-fill"
              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0z" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="container fade-in" id="about">
  <h1 id="about-title" class="text-center">About Me</h1>
  <div class="row">
    <div class="col-md-6" style="max-height:500px;">
      <img class="profile-pic" src="../assets/Images/profile-pic.jpg" alt="Image of Owner of this site">
    </div>
    <div class="col-md-6">
      <div id="about-card" class="card">
        <div class="text-center">
          <h1 class="ab-subtitle">About Me</h1>
          <p class="ab-para">
            I am modest, but hard working and I consistently sets firm goals for myself. Then, once I’ve defined the
            benchmarks, I take the
            necessary steps to achieve those milestones.
            <br>
            I am someone who has been able to not only meet my employer’s expectations, but I would describe myself as a
            person who has
            consistently exceeded those markers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="service" class="fade-in">
  <h1 id="ser-title">Services</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/web-design-icon.png" alt="Web Design">
          <h4 class="ser-subtitle">Designing</h4>
          <p class="ser-para">
            Web design is the process of creating websites. It encompasses several different aspects, including webpage
            layout,
            content production, and graphic design. Websites are created using a markup language called HTML. Web
            designers
            build webpages using HTML tags that define the content and metadata of each page.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/web-coding-icon.png" alt="Web Development">
          <h4 class="ser-subtitle">Development</h4>
          <p class="ser-para">
            Web development is the building and maintenance of websites; it's the work that happens behind the scenes
            to make a website look great, work fast and perform well with a seamless user experience. Web developers, or
            'devs', do this by using a variety of coding languages.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/web-testing-icon.png" alt="Web Testing">
          <h4 class="ser-subtitle">Testing</h4>
          <p class="ser-para">
            Web testing is a software testing practice to test websites or web applications for potential bugs. It's a
            complete testing of
            web-based applications before making live. A web-based system needs to be checked completely from end-to-end
            before it goes live
            for end users.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/seo-icon.png" alt="SEO">
          <h4 class="ser-subtitle">SEO</h4>
          <p class="ser-para">
            SEO stands for Search Engine Optimization, which is the practice of increasing the quantity and
            quality of traffic to your website through organic search engine results.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/api-icon.png" alt="REST API">
          <h4 class="ser-subtitle">REST API Generate</h4>
          <p class="ser-para">
            RESTful API is an architectural style for an application program interface (API) that uses HTTP requests to
            access and use
            data. That data can be used to GET, PUT, POST and DELETE data types, which refers to the reading, updating,
            creating and
            deleting of operations concerning resources.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="service-card" class="card">
          <img class="ser-img" src="../assets/Images/chart-icon.png" alt="CHART">
          <h4 class="ser-subtitle">CHART.JS</h4>
          <p class="ser-para">
            js is a free open-source JavaScript library for data visualization, which supports 8 chart types: bar, line,
            area, pie (doughnut),
            bubble, radar, polar, and scatter.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="projects" class="fade-in">
  <div class="container">
    <h1 class="prs-title">Projects</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Library System Project</h3>
          <p class="prs-date">1 Jan 2017 - 31 Jan 2017</p>
          <p class="prs-description">
            <b>Purpose:</b> System is mainly to provide automation to the library. The categories of users provided are :<br>
            <b>Admin:</b> He can read or write the information about any member and can update, delete or create a membership plan.<br>
            <b>Operator:</b> He can open the account of membership to the new members.<br>
            <b>Scope:</b> The application is wide and can be used with any education institute and also can be used in offices with the necessary modifications done.<br>
            <b>Technology Used:</b><br>
            <b>Database:</b> MySQL Database<br>
            <b>Backend:</b> C# language.<br>
            <b>FrontEnd:</b> .NET Library Components.<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Facemate Project</h3>
          <p class="prs-date">1 Jan 2017 - 28 Feb 2017</p>
          <p class="prs-description">
            <b>Purpose:</b> System is mainly to provide share something on the own profile. The categories of users provided are :<br>
            <b>Admin:</b> He can secure the other user profile data and keep privacy on every person pics and personal information.<br>
            <b>Operator:</b> Every person just visit on my website here everyone can login and signup, but first be signup and then login, here each of them send friend request to other person and also do chat.<br>
            <b>Scope:</b> The application is wide and can be used to connect with friends and families here you can chat to everyone after accept the friend request also do a video calls<br>
            <b>Technology Used:</b><br>
            <b>Database:</b>MySQL Database<br>
            <b>Backend:</b> C# Language<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Rock Gym Project</h3>
          <p class="prs-date">20 June 2020 - 20 July 2020</p>
          <p class="prs-description">
            <b>Purpose:</b>System is mainly to provide show some information of about gym. The categories of users provided are :<br>
            <b>Admin:</b> He can can registered the user and maintain all user information, take attendance, maintain each person diet chart.<br>
            <b>Operator:</b> Every User login with same id and password that give to be by admin.<br>
            <b>Scope:</b> The application is wide and can be used to maintain records, attendance and deit plans and should remember to whom not submitted the fees.<br>
            <b>Technology Used:</b><br>
            <b>Database:</b>Mongo DB<br>
            <b>Framework:</b>Angular<br>
            <b>Backend Server:</b>Node.Js, Express.Js<br>
            <b>Backend:</b>Typescript<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Countries App Project</h3>
          <p class="prs-date">15 Oct 2020  - 30 Oct 2020</p>
          <p class="prs-description">
            <b>Purpose:</b> System is mainly to provide to know about world The categories of users provided are :<br>
            <b>Admin:</b> He can secure the data and keep privacy.<br>
            <b>Operator:</b> He can see web app.<br>
            <b>Scope:</b>The application is wide and can be used for study child for know about the countries, population, capital, region, subregion of countries.<br>
            <b>Technology Used:</b><br>
            <b>Framework:</b>Angular<br>
            <b>Backend:</b>Typescript, REST API<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Cryptocurrency App Project</h3>
          <p class="prs-date">1 Nov 2020 - 15 Nov 2020</p>
          <p class="prs-description">
            <b>Purpose:</b> System is mainly to provide to know about crypto coins the categories of users provided are :<br>
            <b>Admin:</b> He can secure the data and keep privacy.<br>
            <b>Operator:</b>Every person can visit on my website here everyone can compare coins, see price chart also filter the data by range.<br>
            <b>Scope:</b> The application is wide and can be used to show information of coins here you can know about coins, coin price and market capital.<br>
            <b>Technology Used:</b><br>
            <b>Framework:</b>Angular<br>
            <b>Backend:</b>Typescript, REST API<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Weather App Project</h3>
          <p class="prs-date">16 Nov 2020 - Present</p>
          <p class="prs-description">
            <b>Purpose:</b> System is mainly to provide to know about weather the categories of users provided are :<br>
            <b>Admin:</b> He can secure the data and keep privacy.<br>
            <b>Operator:</b>Every person can visit on my website here everyone can see weather of the own state and also a country.<br>
            <b>Scope:</b> The application is wide and can be used to show information of state weather, city and also country, here you can also see next 1 week weather.<br>
            <b>Technology Used:</b><br>
            <b>Framework:</b>Angular<br>
            <b>Backend:</b>Typescript, REST API<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="prs-card">
          <h3 class="prs-subtitle">Portfolio App Project</h3>
          <p class="prs-date">Lorem ipsum dolor sit amet.</p>
          <p class="prs-description">
            <b>Purpose:</b>System is mainly to provide to know about me the categories of users provided are :<br>
            <b>Admin:</b> He can secure the data, upload content, update the web app and keep privacy.<br>
            <b>Operator:</b>Every person can visit on my website here you know about me see my project to know which is developed by ownself.<br>
            <b>Technology Used:</b><br>
            <b>Framework:</b>Angular<br>
            <b>Backend:</b>Typescript<br>
            <b>FrontEnd:</b>HTML, CSS, Javascript, Bootstrap<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="experience">
  <div class="container">
    <h1 class="exp-title">Experience</h1>
    <div class="row">
      <div class="col-md-6">
        <div id="exp-card" class="card">
          <h1 class="exp-subtitle">Frontend Developer Internship</h1>
          <p class="exp-time">10 June 2020 - Present</p>
          <ul class="exp-list">
            <li>Designing and developing user interfaces using AngularJS best practices.</li>
            <li>Adapting interface for modern internet applications using the latest front-end technologies.</li>
            <li>Writing Typescript, JavaScript, CSS, Bootstrap, and HTML.</li>
            <li>Developing product analysis tasks.</li>
            <li>Making complex technical and design decisions for AngularJS projects.</li>
            <li>Developing application codes and unit tests in Angular, NodeJs Technologies, and Rest Web Services.</li>
            <li>Conducting performance tests.</li>
            <li>Consulting with the Senior team.</li>
            <li>Ensuring high performance of applications and providing support.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div id="exp-card" class="card">
          <h1 class="exp-subtitle">Junior Web Developer</h1>
          <p class="exp-time">Lorem ipsum dolor sit amet.</p>
          <ul class="exp-list">
            <li>Website and software application designing, building, or maintaining.</li>
            <li>Using scripting or authoring languages, management tools, content creation tools, applications and digital media.</li>
            <li>Directing or performing Website updates.</li>
            <li>
              Developing or validating test routines and schedules to ensure that test cases mimic external interfaces and address all browser and device types.
              Editing, writing, or designing Website content, and directing team members who produce content.</li>
            <li> 
              Maintaining an understanding of the latest Web applications and programming practices through education, study, and participation in conferences, workshops, and groups.
              Back up files from Web sites to local directories for recovery.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tools">
  <div class="container">
    <h1 class="tl-title">Tools</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">Eclipse</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 20%"
              aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">VSCode</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 50%"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">Sublime</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">POSTMAN</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">C Compiler</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">C++ Compiler</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card tl-card">
          <p class="tl-subtitle">Chrome Developer Tools</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%"
              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="languages">
  <div class="container">
    <h1 class="lang-title">Languages</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            C/C++
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 55%"
              aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Core Java
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 60%"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            SQL/PLSQL
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            .NET with C#
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 70%"
              aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            HTML/CSS
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%"
              aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Javascript/Jquery
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Typescript
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 30%"
              aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            JSON/XML
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%"
              aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            REST API
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 50%"
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Bootstrap
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 60%"
              aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Chart.js
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 40%"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Highlighted Charts
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Node.js
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 20%"
              aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Express.js
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card lang-card">
          <p class="lang-subtitle">
            Next.js
          </p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 10%"
              aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="skills">
  <div class="container">
    <h1 class="skill-title">Skills</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">C/C++</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Core Java</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">.NET</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 55%" aria-valuenow="55"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">SQL/PLSQL</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">HTML/CSS</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Javascript/Jquery</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Bootstrap</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 70%" aria-valuenow="70"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Angular 4, 5, 6, 7, 8, 9, and 10</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 60%" aria-valuenow="60"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Typescript</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Node.Js</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="20"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Express.Js</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">Next.Js</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">MongoDB</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ski-card">
          <p class="ski-subtitle">AWS with ec2, Route 53, and S3</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 30%" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="contact">
  <div class="container" id="contact-container">
    <div class="col-md-12">
      <h1 class="con-title">Contact Us</h1>
      <form id="form">
        <input type="text" placeholder="Enter First Name">
        <input type="text" placeholder="Enter Surname"><br>
        <input type="email" placeholder="Enter Email Id"><br>
        <input type="number" placeholder="Enter Contact No"><br>
        <textarea placeholder="Enter Message" rows="10"></textarea><br>
        <input type="submit" value="Submit"><br>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container-fluid" style="background:#666162; border-top:2px solid #fff;">
    <div class="row">
      <div class="col-md-12">
        <ul class="foo-list">
          <li class="foo-item"><a class="foo-link" href="https://www.facebok.com"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="foo-item"><a class="foo-link" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="foo-item"><a class="foo-link" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
          <li class="foo-item"><a class="foo-link" href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
          </li>
          <li class="foo-item"><a class="foo-link" href="https://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
          </li>
          <li class="foo-item"><a class="foo-link" href="https://www.quora.com"><i class="fa fa-quora"></i></a></li>
          <li class="foo-item"><a class="foo-link" href="https://www.googleplus.com"><i
                class="fa fa-google-plus"></i></a></li>
          <li class="foo-item"><a class="foo-link" href="https://www.slack.com"><i class="fa fa-slack"></i></a></li>
          <li class="foo-item"><a class="foo-link" href="https://www.github.com"><i class="fa fa-github"></i></a></li>
          <li class="foo-item" style="margin-left:20%;"><a class="foo-link" href="mailto:jmaianstarun1995@gmail.com"><i
                class="fa fa-envelope">&nbsp;jmaianstarun1995</i></a></li>
          <li class="foo-item" style="font-family: 'Times New Roman', Times, serif; float:right;">&copy; 2020 developed
            by Tarun Surana</li>
        </ul>
      </div>
    </div>
  </div>
</div>